<div class="team-panel">
    <h1 class="margin-header tc">Equipe</h1>
    <mat-list>
        <mat-list-item class="user" *ngFor="let user of users">
            <mat-icon *ngIf="user.name !== creator.name" class="user-icon">account_circle</mat-icon>
            <mat-icon *ngIf="user.name === creator.name" class="user-icon">assignment_ind</mat-icon>
            {{ user.displayName }}
            <mat-icon *ngIf="user.voted" class="user-icon">how_to_vote</mat-icon>
        </mat-list-item>
    </mat-list>
</div>
<div class="main-panel">
    <div class="title">
        <h1 class="margin-header tc">Sprint Planning S14</h1>
        <div class="direct-link"><button (click)="copyToClipboard()" mat-raised-button color="accent">Copy direct link</button></div>
    </div>
    <!-- <h3 class="tc">id :  {{ roomId }}</h3> -->
    <div *ngIf="!isScrumMaster">
        <h1 class="margin-header tc">Story : {{ storyLabel }}</h1>
    </div>
    <div *ngIf="isScrumMaster">
        <app-story-creator [libelleUS]="storyLabel" (newLibelleUS)="changerUS($event)" class="story-card"></app-story-creator>
    </div>
    <div *ngIf="isScrumMaster && votesArray === undefined">
        <div class="direct-link"><button (click)="revelerVotes()" mat-raised-button color="accent">Révéler</button></div>
    </div>
    <app-vote-input *ngIf="!aVote && votesArray === undefined" (voteEvent)="voter($event)"></app-vote-input>
    <div *ngIf="votesArray !== undefined">
        <mat-list>
            <mat-list-item *ngFor="let vote of votesArray">
                {{ vote }}
            </mat-list-item>
        </mat-list>
    </div>
</div>