:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.team-panel {
  background-color: #37474f;
  color: white;
  width: 20%;
  min-width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.margin-header {
  margin-top: 20px;
}

.tc {
  text-align: center;
}

.main-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

.direct-link {
  display: flex;
  align-content: center;
  align-items: center;
  width: 30%;
}

.user {
  color: white;
}

.user-disconnected {
  color: grey;
}

.user-icon {
  margin-right: 20px;
  margin-left: 40px;
}

.results {
  flex-grow: 1;
}

.card-panel {
  flex-grow: 1;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.story-title {
  margin: auto 0px;
  width: 30%;
}

.control-panel {
  height: 64px;
  background: #43565f; //#43a047;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 5%;
  padding-right: 5%;
}