:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.indicateurs {
    display: flex;
    flex-direction: column;
}

.indicateurs > * {
    margin-bottom: 20px;
    max-width: 10vw;
}