:host {
    display: flex;
    align-items: center;
}

.chart-panel {
    width: 70%;
    padding-left: 5vw;
}

.indicateurs {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}

.indicateurs > * {
    margin-bottom: 20px;
}