<mat-toolbar color="primary">
    <span>Poker Planning</span>
    <span class="spacer"></span>
    <span class="room-title" *ngIf="roomInfos !== undefined">{{ roomInfos.name }}</span>
    <button (click)="copyToClipboard()" mat-icon-button *ngIf="roomInfos !== undefined"><mat-icon>content_copy</mat-icon></button>
    <span class="spacer"></span>
    <mat-icon [ngClass]="wsConnected ? 'color-connected' : 'color-disconnected'" class="connectivity-icon"  matTooltip="Indicateur de connectivité">network_check</mat-icon>
    <button *ngIf="showMenu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="deconnecter()" mat-menu-item>Déconnexion</button>
    </mat-menu>
</mat-toolbar>