<mat-card>
    <mat-card-title>
        Quel est votre nom?
    </mat-card-title>
    <mat-card-subtitle>
        ou tout ce qui permettra à votre équipe de vous identifier.
    </mat-card-subtitle>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput placeholder="Votre nom">
            </mat-form-field>
            <button mat-raised-button color="accent">Valider</button>
        </form>
          
      </mat-card-content>
</mat-card>
