<div class="row" *ngIf="inputMode==='FREE'">
    <div class="input-story-name">
        <mat-form-field appearance="outline" class="full-width">
        <input #vote matInput placeholder="Mon vote?">
        </mat-form-field>
    </div>
    <button (click)="voterInput(vote.value);" mat-raised-button color="accent">Voter</button>
</div>
<div class="row" *ngIf="inputMode==='CARD'">

    <div *ngFor="let card of cards" class="card"><app-card [numero]="card.numero" [color]="card.color" [selected]="card.selected" [voted]="card.numero === myVote"
         (selectedNumber)="selectCard($event)"></app-card></div>

</div>
<button (click)="voterCard();" mat-raised-button color="accent">Voter</button>
